.author-container{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    gap: 30px;
    padding: 20px;
}
.img {
    height: 10 px;
}
body{
    background-color: #2f2a24;
    color: #f5efe6;
}
p{
    font-style: italic;
}
.btn{
    display: inline-block;
    padding: 8px 16px;
    background: #1d3557;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
}
.btn:hover{
    background:#457b9d
}
.four-column-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px 20px;
  list-style-position: inside;
}
.content-box {
  max-width: 900px;
  margin: 40px auto;
  padding: 30px 40px;
}
