body{
    background-color: #f9e547;
}
.btn{
    display: inline-block;
    padding: 8px 16px;
    background: #1d3557;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
}
.btn:hover{
    background:#457b9d
}
.content-box {
  max-width: 900px;
  margin: 40px auto;
  padding: 30px 40px;
}
